.CheckBackground{

    background-color: antiquewhite;
    width: 60vw;
    height: 80vh;
    margin:10% auto;
    border-radius: 5% 5%;
    -webkit-box-shadow: 10px 10px 26px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 26px -4px rgba(0,0,0,0.75);
}

.ButtonBox{

    margin:5px 5px;

}